In [43]:
# Question 1
# Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
# Examples
# is_symmetrical(7227) ➞ True

# is_symmetrical(12567) ➞ False

# is_symmetrical(44444444) ➞ True

# is_symmetrical(9939) ➞ False

# is_symmetrical(1112111) ➞ True

def is_symmetrical(n):
    x3 = 0
    n5 = n
    while(n>0):
        x = n%10
        x3 = x3*10 +x
        n = n//10
  
   
    if x3 == n5:
        
        return True
    else: return False
        
    
        
is_symmetrical(9939)

False

In [2]:
# Question 2
# Given a string of numbers separated by a comma and space, return the product of the numbers.
# Examples
# multiply_nums("2, 3") ➞ 6

# multiply_nums("1, 2, 3, 4") ➞ 24

# multiply_nums("54, 75, 453, 0") ➞ 0

# multiply_nums("10, -2") ➞ -20

def multiply_nums(str1):
    tep = 1
    for i in str1.split(','):
            tep= tep * (int(i))
    print(tep)
            
        
    

multiply_nums("1, 2, 3, 4")

24

In [58]:
# Question 3
# Create a function that squares every digit of a number.
# Examples
# square_digits(9119) ➞ 811181

# square_digits(2483) ➞ 416649

# square_digits(3212) ➞ 9414
# Notes
# The function receives an integer and must return an integer.
# def square_digits(n2): 
#     import math
#     num1 = 0
#     while(n2>0):
#         x2 = n2%10
        
#         num1 = num1*10+x2*x2
#         n2 = n2//10
#         print(x2)


def square_digits(n2): 
    return int(''.join([str(int(i)**2) for i in str(n2)]))

square_digits(3212)

9414

In [76]:
# Question 4
# Create a function that sorts a list and removes all duplicate items from it.
# Examples
# setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

# setify([4, 4, 4, 4]) ➞ [4]

# setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

# setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]
def setify(lst2):
    return sorted([lst2[i] for i in range(len(lst2)) if lst2[i] not in lst2[i+1:]])
#     l =[]
#     for i in range (len(lst2)):
        
#         if lst2[i] not in lst2[i+1:]:
#             l.append(lst2[i])
#     print(l)
           
  
        
#     return [i for i in lst2 if i]
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [86]:
# Question 5
# Create a function that returns the mean of all digits.
# Examples
# mean(42) ➞ 3

# mean(12345) ➞ 3

# mean(666) ➞ 6
# Notes
# •	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
# •	The mean will always be an integer.
def mean(n5):
    s5 = 0
    digit = 0
    while(n5>0):
        x5 =  n5%10
        n5 = n5//10
        digit +=1
        
        s5 = s5+x5
    return round(s5/digit)

mean(666)

6